<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--DESA-->
    <add key="root" value="C:\\Users\\Paramedic\\Desktop\\AdjuntosParaPrueba\\4678913118"/>
    <add key="ingresosPathDest" value="C:\\Users\\Paramedic\\Desktop\\AdjuntosParaPrueba\\destino\\ingresos"/>

    <add key="TransferElectros" value="1" />
    <add key="TransferFichadas" value="1" />
    <add key="fullLog" value="1" />
    
    <add key="MailAddress" value="sistemas@paramedic.com.ar"/>
    <add key="MailPassword" value="Sis1305"/><!--Pwsis02"-->
    <add key="MailFrom" value="Paramedic Transfer File"/>
    <add key="MailServer" value="mr.fibercorp.com.ar"/>
    <add key="MailPort" value="587"/>
    <add key="MailSSL" value="true"/>
    <add key="SourceSenderEmail" value="database"/>

    <add key="MailSubject" value="Servicio: {0} - {1}"/>
    <add key="MailBody" value="El presente brinda imagénes relacionadas al servicio:&lt;br /&gt;&lt;br /&gt; Fecha: {0}&lt;br /&gt;Nro: {1}&lt;br /&gt; Cliente: {2}&lt;br /&gt;Nro. Interno: {3}&lt;br /&gt; Nro. Afiliado: {4}&lt;br /&gt;Paciente: {5}&lt;br /&gt;Sexo: {6}&lt;br /&gt;Edad: {7}"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <!--connectionStrings-->
    <add key="cacheNameSpace" value="SHAMAN"/>
    <!--value="DESA"-->
    <add key="cachePort" value="1972"/>
    <add key="cacheServer" value="200.49.156.125"/>
    <add key="cacheShamanAplicacion" value="EMERGENCIAS"/>
    <add key="cacheShamanCentro" value="1"/>
    <add key="cacheShamanUser" value="JOB"/>
    <add key="Password" value="rLOGNFRSWhU3c2LP9Gybug=="/>
    <add key="UserID" value="IDoMLneOe6l783zrc/Thyw=="/>
    <add key="tangoEmpresaId" value="3"/>
    
    <!--Only send files of inidents -->
    <add key="onlyToday" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebAppsSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://paramedicapps.com.ar:57772/csp/shaman/WebServices.WebApps.cls" binding="basicHttpBinding" bindingConfiguration="WebAppsSoap" contract="WSWebApps.WebAppsSoap" name="WebAppsSoap"/>
    </client>
  </system.serviceModel>
</configuration>
